        <flooter class="container-fluid bs-info btn bg-primary">
            <div class="row">
                <section class="col Success"> 
                    collone 1
                </section>
                <section class="col"> 
                    collone 2
                </section>
                <section class="col"> 
                    collone 3
                </section>
            </div>        
        </flooter>